.drink-slider {
  height: 2px;
  width: 275px;
  border: none;
  background-color: $light-grey;
  margin-top: 30px;
  padding-left: 8px;
}

.noUi-connect {
  height: 4px;
  background-color: $primary-lighter;
}

.drink-slider .noUi-handle {
  top: -10px;
  width: 24px;
  height: 24px;
  border: 2px solid;
  background-color: $base-white;
  border-color: $primary-lighter;
  border-radius: 50%;
}

.noUi-handle::after{
  display: none;
}

.noUi-handle::before {
  display: none;
}
