.footer {
  background-color: $base-white;
}

.footer__inner {
  padding: 22px 20px 22px 20px;
  display: flex;
  gap: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid $base-secondary;
}

.footer__nav-store {
  border-bottom: 1px solid $base-secondary;
}

.footer__nav-media{
  border-bottom: 1px solid $base-secondary;
}

.footer__adress {
  border-bottom: 1px solid $base-secondary;
}
