.item {
  background-color: $base-white;
}

.item__wrapper {
  padding: 40px 20px 20px 20px;
}

.item__title {
  font-family: $montserrat-bold;;
  line-height: 32px;
  color: $base-black;
  text-align: left;
  margin: 0;
}

.item__title-name {
  margin: 0;
  font-size: 18px;
  padding-top: 28px;
}

.item__description {
  font-family: $montserrat-regular;
  font-size: 14px;
  line-height: 20px;
  color: $base-black;
  text-align: left;
  margin: 0;
  padding-top: 4px;
}

.item__link-image {
  margin: 0 auto;
}

.item__order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.item__order-price {
  font-family: $montserrat-semi-bold;
  font-size: 20px;
  line-height: 32px;
  color: $base-black;
}

.item__button-icon {
  position: relative;
  top: 2px;
}

.item__button {
  position: relative;
  padding: 8px 20px 8px 20px;
  background-color: $base-primary;
  color: $base-white;
  font-family: $montserrat-regular;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
}
