.main-nav__wrapper {
  width: 278px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 22px 0px 20px;
}

.main-nav__title {
  display: none;
}

.main-nav__list .user-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav__list {
  list-style: none;
}
.main-nav__toggler {
  height: 16px;
  width: 16px;
  background-image: url(../../icons/burger.svg);
  border: none;
  background-color: $base-white;
}





