.page {
  background-color: $base-grey;
}

.page__body {
  width: 320px;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }

}
