.slider-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.slider-list__item {
  background-color: $flat-white;
  text-align: center;

  @media(min-width:$tablet-width){
    position: relative;
  }
}

.slider-list__item:nth-child(2) {
  background-color: $lavender-latte;
}

.slider-list__item:nth-child(3) {
  background-color: $espresso;
}

.slider-list__item-new {
  font-family: $montserrat-bold;
  font-size: 12px;
  line-height: 16px;
  color: $base-primary;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 10px;

  @media(min-width:$tablet-width) {
    padding-top: 1px;
  }
}

.slider-list__item-header {
  font-family: $montserrat-bold;
  font-size: 37px;
  line-height: 48px;
  color: $base-black;
  margin: 0;
  padding-top: 5px;

  @media(min-width:$tablet-width) {
    font-size: 58px;
    line-height: 80px;
  }
}

.slider-list__item-description {
  font-family: $montserrat-regular;
  font-size: 14px;
  line-height: 20px;
  color: $base-black;
  margin: 0;
  padding-top: 10px;

  @media(min-width:$tablet-width) {
    font-size: 20px;
    line-height: 32px;
    padding-top: 14px;
  }
}

.slider-list__item-image {
  margin: 0 auto;

  @media(min-width:$tablet-width) {
    position: absolute;
    top: 353px;
    left: 145px;
  }
}

.slider-list__item-wrapper {
  padding: 20px 20px 60px 20px;

  @media(min-width:$tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    padding: 60px 82px 308px 80px;
  }
}

.slider__arrows {
  display: block;
  position: relative;

  @media(min-width:$tablet-width) {
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.slider__arrows-arrow {
  position: absolute;
  width: 20px;
  height: 656px;
  border: none;
  background-color: transparent;
  z-index: 0;

  @media(min-width:$tablet-width) {
    position: absolute;
    width: 80px;
    height: 640px;
    border: none;
    background-color: transparent;
    z-index: 0;
  }
}

.slider__arrows-arrow--left {
  content: "";
  position: absolute;
  background-image: url(../../images/arrow_forward_back.svg);
  background-position: center;
  background-size: 11px 20px;
  background-repeat: no-repeat;
  bottom: -1px;
  left: 0px;
}

.slider__arrows-arrow--right {
  content: "";
  position: absolute;
  background-image: url(../../images/arrow_forward_back.svg);
  background-position: center;
  background-size: 11px 20px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  bottom: -1px;
  right: 0px;
}
