/* Стилизация контейнера */
.variants-list {
  list-style-type: none;
  font-family: $montserrat-regular;
  font-size: 16px;
  line-height: 24px;
  color: $base-black;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.variants-list__item-input {
  display: none;
}

.variants-list__item-description {
  position: relative;
}

.variants-list__item-description::before {
  position:absolute;
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $base-white;
  border: 2px solid rgb(189, 189, 189);
  left: -35px;
}

.variants-list__item-input:checked + .variants-list__item-description::before{
  background: url(../../images/radio_active.svg) 0 0 no-repeat;
  background-size: 16px 16px;
  background-position: center;
  border: 2px solid $base-primary;
}

.variants-list__item-description:hover:before {
  background: url(../../images/radio_hover.svg) 0 0 no-repeat;
  background-size: 16px 16px;
  background-position: center;
  border: 2px solid $primary-lighter;
  cursor: pointer;
}

.variants-list__item-description:hover {
  cursor: pointer;
}

.variants-list__item-input:disabled + .variants-list__item-description::before {
  border: 2px solid $base-grey;
  background-color: $lightest-grey;
}

.variants-list__item-input:disabled + .variants-list__item-description:hover:before {
  background: none;
  cursor: default;
}

.variants-list__item-input:disabled + .variants-list__item-description {
  color: #bdbdbd;
}

.variants-list__item-input:disabled + .variants-list__item-description:hover {
  cursor: default;
}

